@import "../../styles/utils.scss";

.container {
  max-width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 128px 0 64px 0;
}

.btn {
  margin-top: 8px;
}

.btn:hover {
  background-color: #f09134;
}

.linkContainer {
  margin-bottom: 80px;
}
.link {
  color: #494949;
  text-align: center;
  cursor: pointer;
}
